<form [formGroup]="generalInformations" class="p-4 grid gap-4">
    <div class="p-4 grid lg:grid-cols-3 gap-4">
        <mat-form-field class="w-full">
            <mat-label>Nome:</mat-label>
            <input formControlName="name" matInput type="text" placeholder="Ex: Fulano">
            <mat-error>
                O campo Nome é obrigatório.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Email:</mat-label>
            <input formControlName="email" matInput type="text" placeholder="Ex: fulano@gmail.com">
            <mat-error *ngIf="email.hasError('required')">
                O Email é obrigatório.
            </mat-error>
            <mat-error *ngIf="!email.hasError('required') && email.hasError('pattern')">
                O Email é inválido.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="p-4 grid gap-4 lg:grid-cols-3">
        <mat-form-field>
            <mat-label>País:</mat-label>
            <input
                formControlName="country"
                matInput
                type="text"
                [matAutocomplete]="_country"
                placeholder="Brazil">
            <mat-autocomplete #_country="matAutocomplete" (optionSelected)="onCountrySelected($event)">
                <mat-option *ngFor="let country of countriesListFiltered" [value]="country.name">{{ country.name }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Estado:</mat-label>
            <input
            formControlName="state"
            matInput
            type="text"
            placeholder="São Paulo"
            [matAutocomplete]="_state"
            >
            <mat-autocomplete #_state="matAutocomplete">
                <mat-option *ngFor="let state of statesListFiltered" [value]="state.name">{{ state.name }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="p-4 grid lg:grid-cols-3 gap-4">
        <div class="w-full">
            <div class="text-lg">Estado Cívil</div>
            <mat-radio-group
                class="w-full flex flex-col sm:flex-row sm:justify-between"
                formControlName="maritalStatus">
                <mat-radio-button *ngFor="let maritalStatus of maritalStatusList" [value]="maritalStatus.type">{{ maritalStatus.typeDescription }}</mat-radio-button>
            </mat-radio-group>
        </div>
        
        <mat-form-field class="w-full">
            <mat-label>Renda Mensal:</mat-label>
            <span matTextPrefix *ngIf="monthIncome.value">R$</span>
            <input
                formControlName="monthlyIncome"
                #monthIncome
                matInput
                formControlName="monthlyIncome"
                type="text"
                placeholder="R$5000,00"
                mask="separator.2"
                thousandSeparator="."
                decimalMarker=",">
                <mat-error>
                    A Renda Mensal é obrigatória.
                </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Data de Nascimento:</mat-label>
            <input
                matInput
                type="text"
                [matDatepicker]="picker"
                formControlName="birthDate"
                readonly>
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</form>