<form [formGroup]="generalInformations" class="p-8">
    <div class="grid gap-4 lg:grid-cols-3">
        <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input formControlName="name" matInput type="text" placeholder="Ex: Fulano">
            <mat-error>
                O campo Nome é obrigatório.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input formControlName="email" matInput type="text" placeholder="Ex: fulano@gmail.com">
            <mat-error *ngIf="email.hasError('required')">
                O Email é obrigatório.
            </mat-error>
            <mat-error *ngIf="!email.hasError('required') && email.hasError('pattern')">
                O Email é inválido.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="grid gap-4 lg:grid-cols-3">
        <p>
            <!-- <mat-form-field>
                <mat-label>País:</mat-label>
                <input
                    formControlName="country"
                    matInput
                    type="text">
                <mat-autocomplete #country="matAutocomplete">
                    <mat-option [value]=""></mat-option>
                </mat-autocomplete>
            </mat-form-field> -->
        </p>
        <p>
            Estado
        </p>
    </div>
    <div class="grid gad-4 lg:grid-cols-3">
        <p>
            Estado Civíl
        </p>
        <p>
            Renda Mensal
        </p>
        <p>
            Data de Nascimento
        </p>
    </div>
</form>