<form [formGroup]="generalInformations" class="p-4 grid gap-12">
    <div class="pad-4 grid gap-4 lg:grid-cols-3">
        <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input formControlName="name" matInput type="text" placeholder="Ex: Fulano">
            <mat-error>
                O campo Nome é obrigatório.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input formControlName="email" matInput type="text" placeholder="Ex: fulano@gmail.com">
            <mat-error *ngIf="email.hasError('required')">
                O Email é obrigatório.
            </mat-error>
            <mat-error *ngIf="!email.hasError('required') && email.hasError('pattern')">
                O Email é inválido.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="pad-4 grid gap-4 lg:grid-cols-3">
        <mat-form-field>
            <mat-label>País:</mat-label>
            <input
                formControlName="country"
                matInput
                type="text"
                [matAutocomplete]="country"
                placeholder="Brazil">
            <mat-autocomplete #country="matAutocomplete">
                <mat-option [value]="'1'">a</mat-option>
            </mat-autocomplete>
        </mat-form-field>
        
        <mat-form-field>
            <input
            formControlName="state"
            matInput
            type="text"
            placeholder="São Paulo"
            [autocomplete]="state"
            >
            <mat-autocomplete #state="matAutocomplete">
                <mat-option value="7">ttt</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="p-4 grid lg:grid-cols-3">
        <div class="w-full">
            <div class="text-lg">Estado Cívil</div>
            <mat-radio-group class="w-full flex flex-col justify-between sm:flex-row" formControlName="maritalStatus">
                <mat-radio-button [value]="1">Solteiro</mat-radio-button>
                <mat-radio-button [value]="2">Casado</mat-radio-button>
                <mat-radio-button [value]="3">Divorciado</mat-radio-button>
            </mat-radio-group>
        </div>
        
        <mat-form-field>
            <mat-label>Renda Mensal:</mat-label>
            <input
                matInput
                formControlName="monthlyIncome"
                type="text"
                placeholder="R$5000,00">
        </mat-form-field>

        <p>
            Data de Nascimento
        </p>
    </div>
</form>