<p class="p-4 text-2xl font-semibold">Dependentes:</p>
<div class="grid sm:grid-cols-3" *ngFor="let dependent of dependentsList">
    <app-user-infos-item title="Nome" [description]="dependent.name"></app-user-infos-item>
    <app-user-infos-item title="Idade" [description]="dependent.age.toString()"></app-user-infos-item>
    <app-user-infos-item title="Documento" [description]="dependent.document | cpf"></app-user-infos-item>
    <hr class="sm:hidden">
</div>
<p 
    *ngIf="dependentsList?.length === 0"
    class="text-lg pl-4 pb-4">O usuário não possui dependentes.</p>