<div class="">
    <div class="grid lg:grid-cols-3">
        <app-user-infos-item [title]="" [description]=""></app-user-infos-item>
        <app-user-infos-item [title]="" [description]=""></app-user-infos-item>
    </div>
    <div class="grid lg:grid-cols-3">
        <app-user-infos-item [title]="" [description]=""></app-user-infos-item>
        <app-user-infos-item [title]="" [description]=""></app-user-infos-item>
    </div>
    <div class="grid lg:grid-cols-3">
        <app-user-infos-item [title]="" [description]=""></app-user-infos-item>
        <app-user-infos-item [title]="" [description]=""></app-user-infos-item>
        <app-user-infos-item [title]="" [description]=""></app-user-infos-item>
    </div>
</div>