.user-selected,
.user-card-hover:hover {
    background-color: #9ca3af !important;
    cursor: pointer !important;
}

.user-card-disabled {
    background-color: #d6deeb !important;
    cursor: not-allowed !important;
}