.user-selected {
    background-color: #9ca3af !important;
}

.user-card-hover:hover {
    cursor: pointer !important;
    background-color: #9ca3af !important;
}

.user-card-disabled {
    background-color: #d6deeb !important;
}

.user-card-disabled-hover:hover {
    cursor: not-allowed !important;
}