<div class="grid gap-4 sm:grid-cols-3">
    <mat-card
        *ngFor="let user of usersList; let i = index"
        [ngClass]="{
            'user-card-disabled': isEditModel && userSelectedIndex !== i,
            'user-card-hover': !isEditModel,
            'user-selected': userSelectedIndex === i,
            'disabled': isEditModel,
        }"
        (click)="onUserSelected(i)">
        <mat-card-header>
            <mat-card-title>{{ user.name }}</mat-card-title>
            <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content></mat-card-content>
    </mat-card>
</div>