<div class="p-4">
    <mat-card class="max-w-screen-xl m-auto">
        <mat-card-content>
            <app-users-list
                [usersList]="usersList"
                (onUserSelected)="onUserSelected($event)"
                ></app-users-list>
        </mat-card-content>

        <mat-tab-group *ngIf="userSelected !== undefined" class="m-4" [(selectedIndex)]="tabSelectedIndex">
            <mat-tab label="Geral">
                <app-general-informations [userSelected]="userSelected"></app-general-informations>
            </mat-tab>
            <mat-tab label="Contato">
                <app-contact-informations
                    [userSelected]="userSelected"></app-contact-informations>
            </mat-tab>
            <mat-tab label="Dependente">
                <app-dependents-list [dependentsList]="userSelected.dependentsList"></app-dependents-list>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>