<div class="p-4">
    <mat-card class="max-w-screen-xl m-auto">
        <mat-card-content>
            <app-users-list
                *ngIf="usersList.length > 0"
                [usersList]="usersList"
                [isEditModel]="isEditModel"
                (onUserSelected)="onUserSelected($event)"
                ></app-users-list>
        </mat-card-content>

        <app-buttons-container
            *ngIf="userSelectedIndex !== undefined"
            [isEditModel]="isEditModel"
            [enabledButtonSave]="enabledButtonSave"
            (onEditButton)="onEditButton()"
            (onCancelButton)="onCancelButton()"
            (onSaveButton)="onSaveButton()"></app-buttons-container>

        <app-user-informations-container
            *ngIf="userSelectedIndex !== undefined"
            [userSelected]="userSelected"
            [isEditModel]="isEditModel"
            [tabSelectedIndex]="tabSelectedIndex"
            (onEnabledButtonSave)="onEnabledButtonSave($event)"></app-user-informations-container>
    </mat-card>
</div>